---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Not Found";
---

<BaseLayout pageTitle={pageTitle}>
  <h1 style="text-align: center; padding: 2em 0;">404 Not Found :(</h1>
</BaseLayout>
