---
import Player from "../../components/Player";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { channelsList } from "../../lib/channelsList";

export async function getStaticPaths() {
  const channelsName = [...new Set(channelsList.map((channel) => channel.slug))];

  return channelsName.map((channelName) => {
    return {
      params: { channel: channelName },
    };
  });
}

const { channel } = Astro.params;
const activeChannel = channelsList.find((a) => a.slug === channel);
const pageTitle = activeChannel.name;
---

<BaseLayout pageTitle={pageTitle}>
  <script slot="video-player-head" defer src="https://vjs.zencdn.net/8.9.0/video.min.js"></script>
  <link
    slot="video-player-head"
    href="https://vjs.zencdn.net/8.9.0/video-js.css"
    rel="stylesheet"
  />
  <section class="container video-player">
    <h1>You are watching {activeChannel.name}</h1>
    <Player client:load url={activeChannel.source} />
    <p>{activeChannel.description}</p>
    <div id="video"></div>
  </section>
</BaseLayout>
