---
import { channelsList } from "../lib/channelsList";
---

<section class="container channelsList">
  {
    channelsList.map((channel) => (
      <a href={`/channel/${channel.slug}`}>
        <div class="channelsList-card">
          <img
            src={`https://raw.githubusercontent.com/aidil-sekandar/strim-tv/main/public/channel-banner/${channel.slug}.png`}
            alt={channel.name}
          />
          <p>{channel.name}</p>
        </div>
      </a>
    ))
  }
</section>
